node_modules
.next
out
build
dist
.env
.env.local
.env.vercel
.env.vercel-prod
*.log
.DS_Store
data/db.json
dev.db
antigravity.exe
tsconfig.tsbuildinfo

/lib/generated/prisma
prisma/client/

.vercel
.claude
.windsurf
.agents
